.hero {
    min-height: 100vh;
    padding: 2rem;
    padding-top: 250px;
    font-size: 2rem;
    background: linear-gradient(
            to bottom,
            color-mix(in srgb, var(--color-text), transparent 20%) 0%,
            color-mix(in srgb, var(--color-bg-secondary), transparent 20%) 100%
        ),
        url(../images/bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: white;
    }

    @media (max-width: 768px) {
        font-size: 1.2rem;
    }
}
