$logo-size: 112px;

.nav {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
    width: 100vw;
    opacity: 0.8;
    background-color: var(--color-text);
    text-transform: uppercase;
    z-index: 1000;

    ul {
        display: flex;
        list-style: none;
        gap: 2rem;
    }

    .checkbtn {
        font-size: 2rem;
        cursor: pointer;
        display: none;
        color: var(--color-bg-primary);
    }

    #check {
        display: none;
    }

    .logo {
        height: $logo-size;
    }
}

@media (max-width: 768px) {
    .nav {
        .checkbtn {
            display: block;
            order: 1;
        }

        ul {
            position: fixed;
            background-color: var(--color-bg-secondary);
            top: $logo-size;
            padding-bottom: $logo-size;
            right: -100%;
            width: 100%;
            height: 100vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            transition: all 0.5s;
        }

        ul li a {
            font-size: 1.2rem;
        }

        #check:checked ~ ul {
            right: 0;
        }
    }
}
