/* defaults.css */
:root {
    --color-bg-primary: white;
    --color-bg-secondary: #df7799;
    --color-primary: #e95aa6;
    --color-overlay: #ead0e4;
    --color-text: rgba(33, 33, 33, 0.8);
}

@media (prefers-reduced-motion: no-preference) {
    :root {
        scroll-behavior: smooth;
    }
}

body {
    background-color: var(--color-bg-primary);
    color: var(--color-text);
    font-family: "Montserrat Alternates", Arial, Helvetica, sans-serif;

    @media (max-width: 768px) {
        font-size: 0.8rem;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--color-primary);
}

p {
    margin-bottom: 1rem;
}

h2 {
    font-size: 3rem;
}

a {
    color: white;
    text-decoration: none;
}

a:hover,
a.active {
    color: var(--color-primary);
    transition: color 0.5s;
}
